POSTGRES_DB=timelog_db
POSTGRES_USER=timelog_user
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=replace-with-50-char-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
